* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Style the header */
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Style the main content */
main {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Style the image blocks */
.image-container {
    display: inline-block;
    justify-content: space-between; /* Distribute images evenly */
    flex-wrap: nowrap; /* Prevent line breaks */
}



/* Style the image descriptions */
.image-block p {
    margin-top: 10px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}