{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Shop</title>
</head>
<body>
    <header>All Images</header>
    <div class="image-container">
    <ul>
        {% for product in all_products %}
            <li>
                <h2>{{ product.name }}</h2>
                <img src="{{ product.image.url }}" alt="{{ product.name }} Image">
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
