{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Shop</title>
</head>
<body>
    <header>All Products</header>
    <div class="gallery">
        <ul class="row">
            {% for product in all_products %}
                <li class="image">
                    <div class='image-content'>
                        <img src="{{ product.image.url }}" alt="{{ product.title }} Image">
                        <div class='image-info'>
                            <h2>{{ product.title }}</h2>
                            <h3>{{ product.desc }}</h3>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>
