{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Shop</title>
</head>
<body>
    <header>
        <h1>All products</h1>
    </header>
    <div class="image-block">
    <main>
        {% for product in products %}
        <img src="{% url 'get_products' product.id %}" alt="{{ product.title }} Image">
        {% endfor %}
    </main>
</div>
</body>
</html>