{%load static%}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Shop</title>
</head>
<body>
    <header>
        <h1>All products</h1>
    </header>
    <main>
        {% for product in main_page_product_list %}
    <div class="image-block">
        <img src="{{ product.image.url }}" alt="{{ product.title }}">
        <p>{{ product.title }}</p>
        <img src="/images/hoodie.png">
    </div>
        {% endfor %}

    </main>
</body>
</html>